streamlit==1.32.2
earthengine-api==0.1.395
geemap==0.30.4
folium==0.15.1
streamlit-folium==0.18.0
geopandas==0.14.3
shapely==2.0.3
fiona==1.9.6
pyproj==3.6.1
pyshp==2.3.1
plotly==5.20.0
numpy==1.26.4
pandas==2.2.1
